<!DOCTYPE html>

<html ng-app="resumeApp" ng-controller="resumeController" >
	<head>
		<title ng-bind="resumeData.name"></title>
		<style>
			[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
				display: none !important;
			}
		</style>
	</head>
	<body ng-cloak>
		

		<h1>{{resumeData.name}}</h1>
		<h3>{{resumeData.tagline}}</h3>

		<section id="bio">
			<p>
				{{resumeData.email}}<br />
				{{resumeData.phone}}<br />
				{{resumeData.address.number}} {{resumeData.address.street}}<br />
				{{resumeData.address.city}}, {{resumeData.address.state}} {{resumeData.address.postal}}<br />
			</p>
		</section>

		<section id="skills">
		</section>

		<section id="workHistory">
			<div ng-repeat="job in resumeData.workHistory">
				<div ng-if="job.employerLogo">
					<img ng-src="{{job.employerLogo}}" alt="{{job.employerName}} logo"/>
				</div>
				<h2><a ng-href="{{job.employerWebsite}}">{{job.employerName}}</a></h2>
				<div ng-if="job.employerTagline">{{job.employerTagline}}</div>
				<h3>{{job.startDate | date:'MMMM yyyy'}} &mdash; <span ng-if="job.endDate">{{job.endDate | date:'MMMM yyyy'}}</span><span ng-if="!job.endDate">Present</span></h3>
				<div ng-repeat="position in job.positions">
					<h4>{{position.role}}</h4>
					<h5>{{position.startDate | date:'MMMM yyyy'}} &mdash; <span ng-if="job.endDate">{{position.endDate | date:'MMMM yyyy'}}</span><span ng-if="!job.endDate">Present</span></h5>
					<ul ng-repeat="responsibility in position.responsibilites">
						<li>{{responsibility}}</li>
					</ul>
				</div>
			</div>
		</section>

		<section id="hobbies">
		</section>

		<section id="education">
			<h2>Education</h2>
			<ul ng-repeat="award in resumeData.education">
				<li>{{award.type}} from {{award.from}}, {{award.date | date:'MMM yyyy'}}</li>
			</ul>
		</section>

 		<hr /> {{resumeData}} <hr />

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.5/angular.js"></script>
		<script src="resume.js"></script>

	</body>
</html>