<!DOCTYPE html>

<html ng-app="resumeApp" ng-controller="ResumeCtrl" ng-strict-di>

<head>
	<title ng-bind="resume.name"></title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="styles/stylesheet.css" />
</head>

<body ng-cloak>

	<header id="intro">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<img ng-if="resume.image" ng-src="{{resume.image}}" alt="{{resume.name}}" class="img-responsive" />
				</div>
				<div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
					<h1>{{resume.name}}</h1>
					<div>{{resume.tagline}}</div>
					<span ng-if="resume.about.contact.email"><a ng-href="mailto:{{resume.about.contact.email}}"><small>{{resume.about.contact.email}}</small><br /></a></span>
					<div ng-if="resume.about.contact.address">
						<small>
							<i class="fa fa-map-marker"></i>
							<span ng-if="resume.about.contact.address.city">{{resume.about.contact.address.city}}, </span><span ng-if="resume.about.contact.address.state">{{resume.about.contact.address.state}}</span>
							<span ng-if="resume.about.contact.address.postal">{{resume.about.contact.address.postal}}</span>
						</small>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section id="bio" ng-if="resume.about.bio">
		<div class="container">
			<div class="row">
				<h2 class="col-md-12"><i class="fa fa-user"></i> About {{resume.firstName}}</h2>
			</div>
			<div class="row">
				<div class="col-xs-12 hidden-md-down">
					<div class="card card-white">
						<p class="card-content" ng-bind-html="resume.about.bio"></p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="skills" ng-if="isPopulated(resume.skills)">
		<div class="container">
			<div class="row">
				<h2 class="col-md-12"><i class="fa fa-code"></i> Skills</h2>
			</div>
			<div class="row">
				<div ng-repeat="rating in resume.skills | orderBy:'-percent'" class="content col-md-2 col-sm-3 col-xs-4">
					<div class="rating">
						<svg viewbox="0 0 150 150" width="150" height="150">
							<path ng-attr-d="{{getArcPathData(rating.percent)}}" ng-attr-style="opacity:{{rating.percent/100}}"></path>
							<text text-anchor="middle" x="75" y="80" font-size="40">{{rating.skill}}</text>
							<text text-anchor="middle" x="75" y="110" font-size="25">{{rating.percent}}%</text>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</section>



	<section id="workHistory" ng-if="isPopulated(resume.workHistory)">
		<div class="container">
			<div class="row">
				<h2 class="col-md-12"><i class="fa fa-briefcase"></i> Work History</h2>
			</div>
			<div class="row">
				<div masonry>
					<div class="item col-sm-6 col-xs-12" ng-repeat="job in resume.workHistory" ng-init="jobIndex = $index">
						<div class="card card-white">
							<a ng-if="job.employerWebsite" ng-href="{{job.employerWebsite}}">
								<div class="employer-logo">
									<img ng-src="{{job.employerLogo}}" alt="{{job.employerName}}" />
								</div>
							</a>
							<div ng-if="!job.employerWebsite"class="employer-logo">
								<img ng-src="{{job.employerLogo}}" alt="{{job.employerName}}" />
							</div>
							<div class="card-content">
								<h3>{{job.employerName}}</h3>
								<p>
									<span ng-if="job.employerTagline">{{job.employerTagline}}</span><br /> {{job.startDate | date:'MMMM yyyy'}} &mdash;
									<span ng-if="job.endDate">{{job.endDate | date:'MMMM yyyy'}}</span><span ng-if="!job.endDate">Present</span>
								</p>
								<div ng-style="{'max-height': shouldShow(jobIndex) ? 'inherit' : '275px'}" ng-class="{'job-detail':!shouldShow(jobIndex)}"
								 ng-attr-id="{{'jobDetail' + jobIndex}}">
									<ul ng-repeat="position in job.positions" ng-init="positionIndex = $index">
										<li>
											<h4>{{position.role}}</h4>
											({{position.startDate | date:'MM/yyyy'}} to <span ng-if="job.endDate">{{position.endDate | date:'MM/yyyy'}}</span>
											<span ng-if="!job.endDate">Present</span>)

											<div>
												{{position.team}}
											</div>

											<div ng-if="isPopulated(position.recognitions)">
												Recognitions
												<ul ng-repeat="recognition in position.recognitions">
													<li>{{recognition}}</li>
												</ul>
											</div>

											<div ng-if="isPopulated(position.responsibilities)">
												Responsibilities
												<ul ng-repeat="responsibility in position.responsibilities">
													<li>{{responsibility}}</li>
												</ul>
											</div>
										</li>
									</ul>

								</div>
								<div class="show-more">
									<a ng-show="isOverflowing(jobIndex)" href ng-click="toggleMore(jobIndex)"><i class="fa fa-chevron-down" ng-class="{ 'fa-rotate-180' : shouldShow(jobIndex) }"></i> {{shouldShow(jobIndex) ? 'Show Less' : 'Show More'}}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section id="interests" ng-if="isPopulated(resume.interests)">
		<div class="container">
			<div class="row">
				<h2 class="col-md-12"><i class="fa fa-binoculars"></i> Interests</h2>
			</div>
			<div class="row">
				<div ng-repeat="interest in resume.interests" class="content col-md-2 col-sm-3 col-xs-6 text-center">
					<figure class="icon">
						<img ng-src="{{interest.image}}" alt="{{interest.name}}">
					</figure>
					{{interest.name}}
				</div>
			</div>
		</div>
	</section>


	<section id="education" ng-if="isPopulated(resume.education)">
		<div class="container">
			<div class="row">
				<h2 class="col-md-12"><i class="fa fa-graduation-cap"></i> Education</h2>
			</div>
			<div class="content">
				<ul ng-repeat="award in resume.education">
					<li>{{award.type}}<span ng-if="award.from"> from {{award.from}}</span>, {{award.date | date:'MMMM yyyy'}}</li>
				</ul>
			</div>
		</div>
	</section>


	<footer id="footer" class="runner clearfix">
		<p class="left with-padding">&copy; {{resume.name}}</p>
		<p class="right with-padding">
			<span ng-repeat="link in resume.links" class="link">
					<a href ng-href="{{link.url}}">{{link.name}}</a>
				</span>
		</p>
	</footer>


	<script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-sanitize.js"></script>
	<script src="scripts/resume.js?t=2022.06.24"></script>

	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
		ga('create', 'UA-48724111-1', 'auto');
		ga('send', 'pageview');
	</script>

</body>

</html>