/* resize some medium content to look like it does on large screen */
.col-md-2 {
	width: 16.66666667%;
}
.col-md-4 {
	width: 25%;
}
.col-md-8 {
	width: 75%;
}


/*keep these reasonable size*/
.employer-logo>img {
	max-height: 100px !important;
}

/*don't print the show more toggle */
.show-more {
	display: none;
}

/*always expand every job */
.job-detail {
	max-height: inherit !important;
}

/* hide the url */
a[href]:after {
	display: none; 
}

/* undo masonry magic */
div[masonry]{
	position: inherit !important;
	height: inherit !important;
}
.item {
	display: inherit !important;
	float: inherit !important;
	position: inherit !important;
	left: inherit !important;
	top: inherit !important;
	width: 100% !important;
}

/* get rid of the faded text above show more */
.card .job-detail:after {
	content: '';
	position: inherit !important;
	display: inherit !important;
	background: inherit !important;
}
